<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>genRate</key>
		<integer>25</integer>
		<key>creepSequence</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>creepInfo</key>
		<dict>
			<key>1</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.5</real>
				<key>creepBuffRad</key>
				<integer>2</integer>
				<key>creepBuffDura</key>
				<integer>1</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.1</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.3</real>
					<key>waterRes</key>
					<real>0.4</real>
					<key>fireRes</key>
					<real>0.5</real>
				</dict>
				<key>creepBuffType</key>
				<integer>1</integer>
				<key>deadImageName</key>
				<string>slime_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slime_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slime_healthy.PNG</string>
				<key>speed</key>
				<real>0.03</real>
				<key>hp</key>
				<integer>20</integer>
				<key>bounty</key>
				<integer>30</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.5</real>
				<key>creepBuffRad</key>
				<integer>1</integer>
				<key>creepBuffDura</key>
				<integer>100</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.1</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.3</real>
					<key>waterRes</key>
					<real>0.4</real>
					<key>fireRes</key>
					<real>0.5</real>
				</dict>
				<key>creepBuffType</key>
				<integer>0</integer>
				<key>deadImageName</key>
				<string>slime_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slime_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slime_healthy.PNG</string>
				<key>speed</key>
				<real>0.015</real>
				<key>hp</key>
				<integer>80</integer>
				<key>bounty</key>
				<integer>70</integer>
			</dict>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>genRate</key>
		<integer>20</integer>
		<key>creepSequence</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>creepInfo</key>
		<dict>
			<key>1</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.5</real>
				<key>creepBuffRad</key>
				<integer>10</integer>
				<key>creepBuffDura</key>
				<integer>100</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.1</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.3</real>
					<key>waterRes</key>
					<real>0.4</real>
					<key>fireRes</key>
					<real>0.5</real>
				</dict>
				<key>creepBuffType</key>
				<integer>2</integer>
				<key>deadImageName</key>
				<string>slime_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slime_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slime_healthy.PNG</string>
				<key>speed</key>
				<real>0.03</real>
				<key>hp</key>
				<integer>5</integer>
				<key>bounty</key>
				<integer>30</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.5</real>
				<key>creepBuffRad</key>
				<integer>1</integer>
				<key>creepBuffDura</key>
				<integer>100</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.1</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.3</real>
					<key>waterRes</key>
					<real>0.4</real>
					<key>fireRes</key>
					<real>0.5</real>
				</dict>
				<key>creepBuffType</key>
				<integer>0</integer>
				<key>deadImageName</key>
				<string>slime_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slime_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slime_healthy.PNG</string>
				<key>speed</key>
				<real>0.015</real>
				<key>hp</key>
				<integer>80</integer>
				<key>bounty</key>
				<integer>30</integer>
			</dict>
		</dict>
	</dict>
	<key>3</key>
	<dict>
		<key>genRate</key>
		<integer>20</integer>
		<key>creepSequence</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>creepInfo</key>
		<dict>
			<key>1</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.5</real>
				<key>creepBuffRad</key>
				<integer>10</integer>
				<key>creepBuffDura</key>
				<integer>100</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.1</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.3</real>
					<key>waterRes</key>
					<real>0.4</real>
					<key>fireRes</key>
					<real>0.5</real>
				</dict>
				<key>creepBuffType</key>
				<integer>2</integer>
				<key>deadImageName</key>
				<string>slime_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slime_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slime_healthy.PNG</string>
				<key>speed</key>
				<real>0.03</real>
				<key>hp</key>
				<integer>5</integer>
				<key>bounty</key>
				<integer>40</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.5</real>
				<key>creepBuffRad</key>
				<integer>1</integer>
				<key>creepBuffDura</key>
				<integer>100</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.1</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.3</real>
					<key>waterRes</key>
					<real>0.4</real>
					<key>fireRes</key>
					<real>0.5</real>
				</dict>
				<key>creepBuffType</key>
				<integer>0</integer>
				<key>deadImageName</key>
				<string>slime_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slime_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slime_healthy.PNG</string>
				<key>speed</key>
				<real>0.015</real>
				<key>hp</key>
				<integer>80</integer>
				<key>bounty</key>
				<integer>30</integer>
			</dict>
		</dict>
	</dict>
	<key>4</key>
	<dict>
		<key>genRate</key>
		<integer>20</integer>
		<key>creepSequence</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>creepInfo</key>
		<dict>
			<key>1</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.5</real>
				<key>creepBuffRad</key>
				<integer>10</integer>
				<key>creepBuffDura</key>
				<integer>100</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.1</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.3</real>
					<key>waterRes</key>
					<real>0.4</real>
					<key>fireRes</key>
					<real>0.5</real>
				</dict>
				<key>creepBuffType</key>
				<integer>2</integer>
				<key>deadImageName</key>
				<string>slime_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slime_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slime_healthy.PNG</string>
				<key>speed</key>
				<real>0.03</real>
				<key>hp</key>
				<integer>5</integer>
				<key>bounty</key>
				<integer>35</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.5</real>
				<key>creepBuffRad</key>
				<integer>1</integer>
				<key>creepBuffDura</key>
				<integer>100</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.1</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.3</real>
					<key>waterRes</key>
					<real>0.4</real>
					<key>fireRes</key>
					<real>0.5</real>
				</dict>
				<key>creepBuffType</key>
				<integer>0</integer>
				<key>deadImageName</key>
				<string>slime_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slime_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slime_healthy.PNG</string>
				<key>speed</key>
				<real>0.015</real>
				<key>hp</key>
				<integer>80</integer>
				<key>bounty</key>
				<integer>100</integer>
			</dict>
		</dict>
	</dict>
	<key>waveNumber</key>
	<integer>4</integer>
</dict>
</plist>
