<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mapName</key>
	<string>stage1_level3.png</string>
	<key>numRows</key>
	<integer>10</integer>
	<key>credit</key>
	<integer>2000</integer>
	<key>numColumns</key>
	<integer>10</integer>
	<key>width</key>
	<integer>1024</integer>
	<key>height</key>
	<integer>1024</integer>
	<key>wayPoints</key>
	<array>
		<string>11</string>
		<string>14</string>
		<string>54</string>
		<string>57</string>
		<string>17</string>
		<string>19</string>
		<string>79</string>
		<string>74</string>
		<string>94</string>
	</array>
	<key>obstacles</key>
	<array>
		<string>49</string>
		<string>59</string>
		<string>69</string>
		<string>79</string>
		<string>78</string>
		<string>77</string>
		<string>76</string>
		<string>75</string>
		<string>74</string>
		<string>84</string>
		<string>94</string>
		<string>11</string>
		<string>12</string>
		<string>13</string>
		<string>14</string>
		<string>24</string>
		<string>34</string>
		<string>44</string>
		<string>54</string>
		<string>55</string>
		<string>56</string>
		<string>57</string>
		<string>47</string>
		<string>37</string>
		<string>27</string>
		<string>17</string>
		<string>18</string>
		<string>19</string>
		<string>29</string>
		<string>39</string>
	</array>
	<key>creepWaveFileName</key>
	<string>stage1_level3_waves</string>
	<key>levelLock</key>
	<integer>0</integer>
</dict>
</plist>
