<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TowerInfo</key>
	<dict>
		<key>TowerCost</key>
		<integer>50</integer>
		<key>Desc</key>
		<string>metal elemental</string>
		<key>MaxLevel</key>
		<integer>5</integer>
		<key>Level1</key>
		<dict>
			<key>SellingValue</key>
			<integer>40</integer>
			<key>UpgradeCost</key>
			<integer>60</integer>
			<key>AttackRadius</key>
			<integer>2</integer>
			<key>Dmg</key>
			<integer>5</integer>
			<key>AttackCooldown</key>
			<integer>60</integer>
		</dict>
		<key>Level5</key>
		<dict>
			<key>SellingValue</key>
			<integer>220</integer>
			<key>UpgradeCost</key>
			<integer>0</integer>
			<key>AttackRadius</key>
			<integer>3</integer>
			<key>Dmg</key>
			<integer>18</integer>
			<key>AttackCooldown</key>
			<integer>40</integer>
		</dict>
		<key>Level4</key>
		<dict>
			<key>SellingValue</key>
			<integer>180</integer>
			<key>UpgradeCost</key>
			<integer>50</integer>
			<key>AttackRadius</key>
			<integer>3</integer>
			<key>Dmg</key>
			<integer>15</integer>
			<key>AttackCooldown</key>
			<integer>45</integer>
		</dict>
		<key>Level3</key>
		<dict>
			<key>SellingValue</key>
			<integer>140</integer>
			<key>UpgradeCost</key>
			<integer>50</integer>
			<key>AttackRadius</key>
			<integer>3</integer>
			<key>Dmg</key>
			<integer>12</integer>
			<key>AttackCooldown</key>
			<integer>50</integer>
		</dict>
		<key>Level2</key>
		<dict>
			<key>SellingValue</key>
			<integer>100</integer>
			<key>UpgradeCost</key>
			<integer>50</integer>
			<key>AttackRadius</key>
			<real>2.5</real>
			<key>Dmg</key>
			<integer>8</integer>
			<key>AttackCooldown</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>ProjectileInfo</key>
	<dict>
		<key>MaxLevel</key>
		<integer>5</integer>
		<key>Level1</key>
		<dict>
			<key>critMult</key>
			<integer>0</integer>
			<key>critChance</key>
			<integer>0</integer>
			<key>Speed</key>
			<real>0.1</real>
			<key>Dmg</key>
			<integer>5</integer>
		</dict>
		<key>Level5</key>
		<dict>
			<key>critMult</key>
			<integer>5</integer>
			<key>critChance</key>
			<real>0.2</real>
			<key>Speed</key>
			<real>0.1</real>
			<key>Dmg</key>
			<integer>18</integer>
		</dict>
		<key>Level4</key>
		<dict>
			<key>critMult</key>
			<integer>4</integer>
			<key>critChance</key>
			<real>0.2</real>
			<key>Speed</key>
			<real>0.1</real>
			<key>Dmg</key>
			<integer>15</integer>
		</dict>
		<key>Level3</key>
		<dict>
			<key>critMult</key>
			<integer>3</integer>
			<key>critChance</key>
			<real>0.2</real>
			<key>Speed</key>
			<real>0.1</real>
			<key>Dmg</key>
			<integer>12</integer>
		</dict>
		<key>Level2</key>
		<dict>
			<key>critMult</key>
			<integer>2</integer>
			<key>critChance</key>
			<real>0.2</real>
			<key>Speed</key>
			<real>0.1</real>
			<key>Dmg</key>
			<integer>8</integer>
		</dict>
	</dict>
</dict>
</plist>
