<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TowerInfo</key>
	<dict>
		<key>TowerCost</key>
		<integer>0</integer>
		<key>Desc</key>
		<string>ice elemental</string>
		<key>MaxLevel</key>
		<integer>3</integer>
		<key>Level1</key>
		<dict>
			<key>SellingValue</key>
			<integer>80</integer>
			<key>UpgradeCost</key>
			<integer>60</integer>
			<key>effectDuration</key>
			<integer>90</integer>
			<key>aoe</key>
			<integer>2</integer>
			<key>SpecialAbilityCooldown</key>
			<integer>480</integer>
			<key>AttackRadius</key>
			<integer>2</integer>
			<key>Dmg</key>
			<integer>8</integer>
			<key>AttackCooldown</key>
			<integer>60</integer>
		</dict>
		<key>Level2</key>
		<dict>
			<key>SellingValue</key>
			<integer>120</integer>
			<key>UpgradeCost</key>
			<integer>60</integer>
			<key>effectDuration</key>
			<integer>105</integer>
			<key>aoe</key>
			<real>2.5</real>
			<key>SpecialAbilityCooldown</key>
			<integer>420</integer>
			<key>AttackRadius</key>
			<real>2.5</real>
			<key>Dmg</key>
			<integer>12</integer>
			<key>AttackCooldown</key>
			<integer>60</integer>
		</dict>
		<key>Level3</key>
		<dict>
			<key>SellingValue</key>
			<integer>150</integer>
			<key>UpgradeCost</key>
			<integer>0</integer>
			<key>effectDuration</key>
			<integer>120</integer>
			<key>aoe</key>
			<integer>3</integer>
			<key>SpecialAbilityCooldown</key>
			<integer>360</integer>
			<key>AttackRadius</key>
			<integer>3</integer>
			<key>Dmg</key>
			<integer>18</integer>
			<key>AttackCooldown</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>ProjectileInfo</key>
	<dict>
		<key>MaxLevel</key>
		<integer>3</integer>
		<key>Level1</key>
		<dict>
			<key>Speed</key>
			<real>0.1</real>
			<key>Dmg</key>
			<integer>8</integer>
		</dict>
		<key>Level2</key>
		<dict>
			<key>Speed</key>
			<real>0.1</real>
			<key>Dmg</key>
			<integer>12</integer>
		</dict>
		<key>Level3</key>
		<dict>
			<key>Speed</key>
			<real>0.1</real>
			<key>Dmg</key>
			<integer>18</integer>
		</dict>
	</dict>
</dict>
</plist>
