<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>genRate</key>
		<integer>50</integer>
		<key>creepSequence</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>creepInfo</key>
		<dict>
			<key>1</key>
			<dict>
				<key>creepBuffFactor</key>
				<integer>0</integer>
				<key>creepBuffRad</key>
				<integer>0</integer>
				<key>creepBuffDura</key>
				<integer>0</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<integer>0</integer>
					<key>metalRes</key>
					<integer>0</integer>
					<key>woodRes</key>
					<integer>0</integer>
					<key>waterRes</key>
					<integer>0</integer>
					<key>fireRes</key>
					<integer>0</integer>
				</dict>
				<key>creepBuffType</key>
				<integer>0</integer>
				<key>deadImageName</key>
				<string>slime_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slime_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slime_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>14</integer>
				<key>bounty</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>genRate</key>
		<integer>50</integer>
		<key>creepSequence</key>
		<array>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>creepInfo</key>
		<dict>
			<key>1</key>
			<dict>
				<key>creepBuffFactor</key>
				<integer>0</integer>
				<key>creepBuffRad</key>
				<integer>0</integer>
				<key>creepBuffDura</key>
				<integer>0</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<integer>0</integer>
					<key>metalRes</key>
					<integer>0</integer>
					<key>woodRes</key>
					<integer>0</integer>
					<key>waterRes</key>
					<integer>0</integer>
					<key>fireRes</key>
					<integer>0</integer>
				</dict>
				<key>creepBuffType</key>
				<integer>0</integer>
				<key>deadImageName</key>
				<string>slime_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slime_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slime_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>14</integer>
				<key>bounty</key>
				<integer>5</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.8</real>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>100</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<integer>0</integer>
					<key>metalRes</key>
					<integer>0</integer>
					<key>woodRes</key>
					<integer>0</integer>
					<key>waterRes</key>
					<integer>0</integer>
					<key>fireRes</key>
					<integer>0</integer>
				</dict>
				<key>creepBuffType</key>
				<integer>2</integer>
				<key>deadImageName</key>
				<string>slimeViking_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeViking_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeViking_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>75</integer>
				<key>bounty</key>
				<integer>10</integer>
			</dict>
		</dict>
	</dict>
	<key>3</key>
	<dict>
		<key>genRate</key>
		<integer>50</integer>
		<key>creepSequence</key>
		<array>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>creepInfo</key>
		<dict>
			<key>1</key>
			<dict>
				<key>creepBuffFactor</key>
				<integer>0</integer>
				<key>creepBuffRad</key>
				<integer>0</integer>
				<key>creepBuffDura</key>
				<integer>0</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<integer>0</integer>
					<key>metalRes</key>
					<integer>0</integer>
					<key>woodRes</key>
					<integer>0</integer>
					<key>waterRes</key>
					<integer>0</integer>
					<key>fireRes</key>
					<integer>0</integer>
				</dict>
				<key>creepBuffType</key>
				<integer>0</integer>
				<key>deadImageName</key>
				<string>slime_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slime_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slime_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>18</integer>
				<key>bounty</key>
				<integer>6</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.8</real>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>150</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<integer>0</integer>
					<key>metalRes</key>
					<integer>0</integer>
					<key>woodRes</key>
					<integer>0</integer>
					<key>waterRes</key>
					<integer>0</integer>
					<key>fireRes</key>
					<integer>0</integer>
				</dict>
				<key>creepBuffType</key>
				<integer>2</integer>
				<key>deadImageName</key>
				<string>slimeViking_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeViking_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeViking_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>60</integer>
				<key>bounty</key>
				<integer>12</integer>
			</dict>
		</dict>
	</dict>
	<key>4</key>
	<dict>
		<key>genRate</key>
		<integer>50</integer>
		<key>creepSequence</key>
		<array>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>creepInfo</key>
		<dict>
			<key>1</key>
			<dict>
				<key>creepBuffFactor</key>
				<integer>0</integer>
				<key>creepBuffRad</key>
				<integer>0</integer>
				<key>creepBuffDura</key>
				<integer>0</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<integer>0</integer>
					<key>metalRes</key>
					<integer>0</integer>
					<key>woodRes</key>
					<integer>0</integer>
					<key>waterRes</key>
					<integer>0</integer>
					<key>fireRes</key>
					<integer>0</integer>
				</dict>
				<key>creepBuffType</key>
				<integer>0</integer>
				<key>deadImageName</key>
				<string>slime_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slime_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slime_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>19</integer>
				<key>bounty</key>
				<integer>6</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.8</real>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>150</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<integer>0</integer>
					<key>metalRes</key>
					<integer>0</integer>
					<key>woodRes</key>
					<integer>0</integer>
					<key>waterRes</key>
					<integer>0</integer>
					<key>fireRes</key>
					<integer>0</integer>
				</dict>
				<key>creepBuffType</key>
				<integer>2</integer>
				<key>deadImageName</key>
				<string>slimeViking_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeViking_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeViking_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>60</integer>
				<key>bounty</key>
				<integer>12</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.4</real>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>1</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.2</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.2</real>
					<key>waterRes</key>
					<real>0.2</real>
					<key>fireRes</key>
					<real>0.2</real>
				</dict>
				<key>creepBuffType</key>
				<integer>1</integer>
				<key>deadImageName</key>
				<string>slimeBishop_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeBishop_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeBishop_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>60</integer>
				<key>bounty</key>
				<integer>12</integer>
			</dict>
		</dict>
	</dict>
	<key>5</key>
	<dict>
		<key>genRate</key>
		<integer>35</integer>
		<key>creepSequence</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
		</array>
		<key>creepInfo</key>
		<dict>
			<key>4</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.5</real>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>150</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.2</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.2</real>
					<key>waterRes</key>
					<real>0.2</real>
					<key>fireRes</key>
					<real>0.2</real>
				</dict>
				<key>creepBuffType</key>
				<integer>3</integer>
				<key>deadImageName</key>
				<string>slimeScout_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeScout_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeScout_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>80</integer>
				<key>bounty</key>
				<integer>13</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>creepBuffFactor</key>
				<integer>0</integer>
				<key>creepBuffRad</key>
				<integer>0</integer>
				<key>creepBuffDura</key>
				<integer>0</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<integer>0</integer>
					<key>metalRes</key>
					<integer>0</integer>
					<key>woodRes</key>
					<integer>0</integer>
					<key>waterRes</key>
					<integer>0</integer>
					<key>fireRes</key>
					<integer>0</integer>
				</dict>
				<key>creepBuffType</key>
				<integer>0</integer>
				<key>deadImageName</key>
				<string>slime_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slime_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slime_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>19</integer>
				<key>bounty</key>
				<integer>6</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>creepBuffFactor</key>
				<integer>1</integer>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>500</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<integer>0</integer>
					<key>metalRes</key>
					<integer>0</integer>
					<key>woodRes</key>
					<integer>0</integer>
					<key>waterRes</key>
					<integer>0</integer>
					<key>fireRes</key>
					<integer>0</integer>
				</dict>
				<key>creepBuffType</key>
				<integer>2</integer>
				<key>deadImageName</key>
				<string>slimeViking_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeViking_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeViking_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>200</integer>
				<key>bounty</key>
				<integer>30</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.8</real>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>1</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.4</real>
					<key>metalRes</key>
					<real>0.4</real>
					<key>woodRes</key>
					<real>0.4</real>
					<key>waterRes</key>
					<real>0.4</real>
					<key>fireRes</key>
					<real>0.4</real>
				</dict>
				<key>creepBuffType</key>
				<integer>1</integer>
				<key>deadImageName</key>
				<string>slimeBishop_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeBishop_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeBishop_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>60</integer>
				<key>bounty</key>
				<integer>15</integer>
			</dict>
		</dict>
	</dict>
	<key>6</key>
	<dict>
		<key>genRate</key>
		<integer>50</integer>
		<key>creepSequence</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>creepInfo</key>
		<dict>
			<key>1</key>
			<dict>
				<key>creepBuffFactor</key>
				<integer>0</integer>
				<key>creepBuffRad</key>
				<integer>0</integer>
				<key>creepBuffDura</key>
				<integer>0</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.1</real>
					<key>metalRes</key>
					<real>0.1</real>
					<key>woodRes</key>
					<real>0.1</real>
					<key>waterRes</key>
					<real>0.1</real>
					<key>fireRes</key>
					<real>0.1</real>
				</dict>
				<key>creepBuffType</key>
				<integer>0</integer>
				<key>deadImageName</key>
				<string>slime_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slime_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slime_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>45</integer>
				<key>bounty</key>
				<integer>7</integer>
			</dict>
		</dict>
	</dict>
	<key>7</key>
	<dict>
		<key>genRate</key>
		<integer>50</integer>
		<key>creepSequence</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>creepInfo</key>
		<dict>
			<key>1</key>
			<dict>
				<key>creepBuffFactor</key>
				<integer>0</integer>
				<key>creepBuffRad</key>
				<integer>0</integer>
				<key>creepBuffDura</key>
				<integer>0</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.1</real>
					<key>metalRes</key>
					<real>0.1</real>
					<key>woodRes</key>
					<real>0.1</real>
					<key>waterRes</key>
					<real>0.1</real>
					<key>fireRes</key>
					<real>0.1</real>
				</dict>
				<key>creepBuffType</key>
				<integer>0</integer>
				<key>deadImageName</key>
				<string>slime_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slime_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slime_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>90</integer>
				<key>bounty</key>
				<integer>8</integer>
			</dict>
		</dict>
	</dict>
	<key>8</key>
	<dict>
		<key>genRate</key>
		<integer>50</integer>
		<key>creepSequence</key>
		<array>
			<integer>4</integer>
			<integer>3</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>4</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>4</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>creepInfo</key>
		<dict>
			<key>1</key>
			<dict>
				<key>creepBuffFactor</key>
				<integer>0</integer>
				<key>creepBuffRad</key>
				<integer>0</integer>
				<key>creepBuffDura</key>
				<integer>0</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.1</real>
					<key>metalRes</key>
					<real>0.1</real>
					<key>woodRes</key>
					<real>0.1</real>
					<key>waterRes</key>
					<real>0.1</real>
					<key>fireRes</key>
					<real>0.1</real>
				</dict>
				<key>creepBuffType</key>
				<integer>0</integer>
				<key>deadImageName</key>
				<string>slime_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slime_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slime_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>50</integer>
				<key>bounty</key>
				<integer>7</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.8</real>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>200</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<integer>0</integer>
					<key>metalRes</key>
					<integer>0</integer>
					<key>woodRes</key>
					<integer>0</integer>
					<key>waterRes</key>
					<integer>0</integer>
					<key>fireRes</key>
					<integer>0</integer>
				</dict>
				<key>creepBuffType</key>
				<integer>2</integer>
				<key>deadImageName</key>
				<string>slimeViking_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeViking_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeViking_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>120</integer>
				<key>bounty</key>
				<integer>20</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.6</real>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>1</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.2</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.2</real>
					<key>waterRes</key>
					<real>0.2</real>
					<key>fireRes</key>
					<real>0.2</real>
				</dict>
				<key>creepBuffType</key>
				<integer>1</integer>
				<key>deadImageName</key>
				<string>slimeBishop_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeBishop_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeBishop_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>80</integer>
				<key>bounty</key>
				<integer>13</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.5</real>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>150</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.2</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.2</real>
					<key>waterRes</key>
					<real>0.2</real>
					<key>fireRes</key>
					<real>0.2</real>
				</dict>
				<key>creepBuffType</key>
				<integer>3</integer>
				<key>deadImageName</key>
				<string>slimeScout_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeScout_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeScout_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>80</integer>
				<key>bounty</key>
				<integer>13</integer>
			</dict>
		</dict>
	</dict>
	<key>9</key>
	<dict>
		<key>genRate</key>
		<integer>50</integer>
		<key>creepSequence</key>
		<array>
			<integer>4</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>4</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>4</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>creepInfo</key>
		<dict>
			<key>1</key>
			<dict>
				<key>creepBuffFactor</key>
				<integer>0</integer>
				<key>creepBuffRad</key>
				<integer>0</integer>
				<key>creepBuffDura</key>
				<integer>0</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.1</real>
					<key>metalRes</key>
					<real>0.1</real>
					<key>woodRes</key>
					<real>0.1</real>
					<key>waterRes</key>
					<real>0.1</real>
					<key>fireRes</key>
					<real>0.1</real>
				</dict>
				<key>creepBuffType</key>
				<integer>0</integer>
				<key>deadImageName</key>
				<string>slime_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slime_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slime_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>60</integer>
				<key>bounty</key>
				<integer>7</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.8</real>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>200</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<integer>0</integer>
					<key>metalRes</key>
					<integer>0</integer>
					<key>woodRes</key>
					<integer>0</integer>
					<key>waterRes</key>
					<integer>0</integer>
					<key>fireRes</key>
					<integer>0</integer>
				</dict>
				<key>creepBuffType</key>
				<integer>2</integer>
				<key>deadImageName</key>
				<string>slimeViking_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeViking_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeViking_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>160</integer>
				<key>bounty</key>
				<integer>20</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.6</real>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>1</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.2</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.2</real>
					<key>waterRes</key>
					<real>0.2</real>
					<key>fireRes</key>
					<real>0.2</real>
				</dict>
				<key>creepBuffType</key>
				<integer>1</integer>
				<key>deadImageName</key>
				<string>slimeBishop_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeBishop_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeBishop_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>100</integer>
				<key>bounty</key>
				<integer>13</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.5</real>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>100</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.2</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.2</real>
					<key>waterRes</key>
					<real>0.2</real>
					<key>fireRes</key>
					<real>0.2</real>
				</dict>
				<key>creepBuffType</key>
				<integer>3</integer>
				<key>deadImageName</key>
				<string>slimeScout_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeScout_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeScout_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>80</integer>
				<key>bounty</key>
				<integer>13</integer>
			</dict>
		</dict>
	</dict>
	<key>10</key>
	<dict>
		<key>genRate</key>
		<integer>35</integer>
		<key>creepSequence</key>
		<array>
			<integer>4</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>4</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>4</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>4</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>1</integer>
			<integer>4</integer>
			<integer>1</integer>
			<integer>4</integer>
			<integer>1</integer>
		</array>
		<key>creepInfo</key>
		<dict>
			<key>1</key>
			<dict>
				<key>creepBuffFactor</key>
				<integer>0</integer>
				<key>creepBuffRad</key>
				<integer>0</integer>
				<key>creepBuffDura</key>
				<integer>0</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.1</real>
					<key>metalRes</key>
					<real>0.1</real>
					<key>woodRes</key>
					<real>0.1</real>
					<key>waterRes</key>
					<real>0.1</real>
					<key>fireRes</key>
					<real>0.1</real>
				</dict>
				<key>creepBuffType</key>
				<integer>0</integer>
				<key>deadImageName</key>
				<string>slime_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slime_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slime_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>100</integer>
				<key>bounty</key>
				<integer>8</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.8</real>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>200</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<integer>0</integer>
					<key>metalRes</key>
					<integer>0</integer>
					<key>woodRes</key>
					<integer>0</integer>
					<key>waterRes</key>
					<integer>0</integer>
					<key>fireRes</key>
					<integer>0</integer>
				</dict>
				<key>creepBuffType</key>
				<integer>2</integer>
				<key>deadImageName</key>
				<string>slimeViking_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeViking_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeViking_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>250</integer>
				<key>bounty</key>
				<integer>22</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.8</real>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>1</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.2</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.2</real>
					<key>waterRes</key>
					<real>0.2</real>
					<key>fireRes</key>
					<real>0.2</real>
				</dict>
				<key>creepBuffType</key>
				<integer>1</integer>
				<key>deadImageName</key>
				<string>slimeBishop_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeBishop_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeBishop_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>120</integer>
				<key>bounty</key>
				<integer>13</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.5</real>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>100</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.2</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.2</real>
					<key>waterRes</key>
					<real>0.2</real>
					<key>fireRes</key>
					<real>0.2</real>
				</dict>
				<key>creepBuffType</key>
				<integer>3</integer>
				<key>deadImageName</key>
				<string>slimeScout_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeScout_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeScout_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>20</integer>
				<key>bounty</key>
				<integer>15</integer>
			</dict>
		</dict>
	</dict>
	<key>11</key>
	<dict>
		<key>genRate</key>
		<integer>35</integer>
		<key>creepSequence</key>
		<array>
			<integer>4</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>creepInfo</key>
		<dict>
			<key>1</key>
			<dict>
				<key>creepBuffFactor</key>
				<integer>0</integer>
				<key>creepBuffRad</key>
				<integer>0</integer>
				<key>creepBuffDura</key>
				<integer>0</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.1</real>
					<key>metalRes</key>
					<real>0.1</real>
					<key>woodRes</key>
					<real>0.1</real>
					<key>waterRes</key>
					<real>0.1</real>
					<key>fireRes</key>
					<real>0.1</real>
				</dict>
				<key>creepBuffType</key>
				<integer>0</integer>
				<key>deadImageName</key>
				<string>slime_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slime_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slime_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>70</integer>
				<key>bounty</key>
				<integer>8</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.8</real>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>200</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<integer>0</integer>
					<key>metalRes</key>
					<integer>0</integer>
					<key>woodRes</key>
					<integer>0</integer>
					<key>waterRes</key>
					<integer>0</integer>
					<key>fireRes</key>
					<integer>0</integer>
				</dict>
				<key>creepBuffType</key>
				<integer>2</integer>
				<key>deadImageName</key>
				<string>slimeViking_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeViking_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeViking_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>200</integer>
				<key>bounty</key>
				<integer>22</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.8</real>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>1</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.2</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.2</real>
					<key>waterRes</key>
					<real>0.2</real>
					<key>fireRes</key>
					<real>0.2</real>
				</dict>
				<key>creepBuffType</key>
				<integer>1</integer>
				<key>deadImageName</key>
				<string>slimeBishop_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeBishop_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeBishop_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>120</integer>
				<key>bounty</key>
				<integer>13</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>creepBuffFactor</key>
				<integer>1</integer>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>200</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.2</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.2</real>
					<key>waterRes</key>
					<real>0.2</real>
					<key>fireRes</key>
					<real>0.2</real>
				</dict>
				<key>creepBuffType</key>
				<integer>3</integer>
				<key>deadImageName</key>
				<string>slimeScout_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeScout_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeScout_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>120</integer>
				<key>bounty</key>
				<integer>13</integer>
			</dict>
		</dict>
	</dict>
	<key>12</key>
	<dict>
		<key>genRate</key>
		<integer>45</integer>
		<key>creepSequence</key>
		<array>
			<integer>3</integer>
			<integer>4</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>1</integer>
			<integer>4</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>creepInfo</key>
		<dict>
			<key>1</key>
			<dict>
				<key>creepBuffFactor</key>
				<integer>0</integer>
				<key>creepBuffRad</key>
				<integer>0</integer>
				<key>creepBuffDura</key>
				<integer>0</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.1</real>
					<key>metalRes</key>
					<real>0.1</real>
					<key>woodRes</key>
					<real>0.1</real>
					<key>waterRes</key>
					<real>0.1</real>
					<key>fireRes</key>
					<real>0.1</real>
				</dict>
				<key>creepBuffType</key>
				<integer>0</integer>
				<key>deadImageName</key>
				<string>slime_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slime_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slime_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>100</integer>
				<key>bounty</key>
				<integer>9</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.2</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.2</real>
					<key>waterRes</key>
					<real>0.2</real>
					<key>fireRes</key>
					<real>0.2</real>
				</dict>
				<key>creepBuffFactor</key>
				<real>0.8</real>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>300</integer>
				<key>creepBuffType</key>
				<integer>2</integer>
				<key>deadImageName</key>
				<string>slimeViking_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeViking_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeViking_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>300</integer>
				<key>bounty</key>
				<integer>24</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>creepBuffFactor</key>
				<real>0.8</real>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>1</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.2</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.2</real>
					<key>waterRes</key>
					<real>0.2</real>
					<key>fireRes</key>
					<real>0.2</real>
				</dict>
				<key>creepBuffType</key>
				<integer>1</integer>
				<key>deadImageName</key>
				<string>slimeBishop_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeBishop_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeBishop_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>175</integer>
				<key>bounty</key>
				<integer>20</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>creepBuffFactor</key>
				<integer>1</integer>
				<key>creepBuffRad</key>
				<integer>5</integer>
				<key>creepBuffDura</key>
				<integer>200</integer>
				<key>resistance</key>
				<dict>
					<key>earthRes</key>
					<real>0.2</real>
					<key>metalRes</key>
					<real>0.2</real>
					<key>woodRes</key>
					<real>0.2</real>
					<key>waterRes</key>
					<real>0.2</real>
					<key>fireRes</key>
					<real>0.2</real>
				</dict>
				<key>creepBuffType</key>
				<integer>3</integer>
				<key>deadImageName</key>
				<string>slimeScout_dead.PNG</string>
				<key>hurtImageName</key>
				<string>slimeScout_hurt.PNG</string>
				<key>normalImageName</key>
				<string>slimeScout_healthy.PNG</string>
				<key>speed</key>
				<real>0.02</real>
				<key>hp</key>
				<integer>40</integer>
				<key>bounty</key>
				<integer>13</integer>
			</dict>
		</dict>
	</dict>
	<key>waveNumber</key>
	<integer>12</integer>
</dict>
</plist>
