<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mapName</key>
	<string>stage1_level4.png</string>
	<key>numRows</key>
	<integer>8</integer>
	<key>credit</key>
	<integer>2500</integer>
	<key>numColumns</key>
	<integer>13</integer>
	<key>width</key>
	<integer>1186</integer>
	<key>height</key>
	<integer>730</integer>
	<key>wayPoints</key>
	<array>
		<string>14</string>
		<string>15</string>
		<string>67</string>
		<string>69</string>
		<string>30</string>
		<string>34</string>
		<string>73</string>
		<string>75</string>
		<string>36</string>
		<string>39</string>
		<string>104</string>
	</array>
	<key>obstacles</key>
	<array>
		<string>104</string>
		<string>14</string>
		<string>15</string>
		<string>28</string>
		<string>41</string>
		<string>54</string>
		<string>67</string>
		<string>68</string>
		<string>69</string>
		<string>56</string>
		<string>43</string>
		<string>30</string>
		<string>31</string>
		<string>32</string>
		<string>33</string>
		<string>34</string>
		<string>47</string>
		<string>60</string>
		<string>73</string>
		<string>74</string>
		<string>75</string>
		<string>62</string>
		<string>49</string>
		<string>36</string>
		<string>37</string>
		<string>38</string>
		<string>39</string>
		<string>52</string>
		<string>65</string>
		<string>78</string>
		<string>91</string>
	</array>
	<key>creepWaveFileName</key>
	<string>stage1_level4_waves</string>
	<key>levelLock</key>
	<integer>0</integer>
</dict>
</plist>
